/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: black;
    --clr-primary-1: blue;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    --border-radius: 1rem;

}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/
  
  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/
body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    display: grid;
    place-items: center;
    height: 100vh;
}


/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

.ticket{
    width: 500px;
    display: grid;
    grid-template-columns: 3fr 32px 1fr;
}

.ticket-info, .ticket-cost{
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.ticket-info__head,.ticket-info__footer,.ticket-cost__head,.ticket-cost__footer{
    padding: var(--gutter-sm);
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-weight: 700;
}

.ticket-info__body{
    padding: var(--gutter-sm);
    display: grid;
    gap: var(--gutter-sm);
}

.ticket-info__body>div{
    display: flex;
    gap: var(--gutter-xs);

}

.ticket-info__body div>i{
    
}

.ticket-cut{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--border-radius);
    background-color: bisque;
    padding: var(--gutter-md);
}

.ticket-cut span{
    width: 5px;
    height: calc(75%/10);
    margin-bottom: 3px;
    background-color: black;
}



.ticket-info__head--young, .ticket-info__footer--young,.ticket-cost__head--young, .ticket-cost__footer--young{
    background-color: var(--clr-primary-1);
}
