/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: black;
    --clr-primary-1: blue;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    --border-radius: 1rem;

}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/
  
  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/
body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(../img/img2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}


/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/


.ticket{
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: var(--gutter-md);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid black;
    overflow: hidden;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.ticket__header{
  padding: var(--gutter-md);
  background-color: black;
  color: white;
  text-transform: capitalize;
  font-weight: 700;
}

.ticket__body{
  padding: var(--gutter-md);

}

.ticket__body p:nth-child(1),.ticket__body p:nth-child(3){
  font-weight: 700;
}

.ticket__body p:nth-child(2){
  color: crimson;
}

.ticket__footer{
  padding: var(--gutter-md);
  padding-top: 0;
}