/*╔═══════════════╗
      VARIABILI
  ╚═══════════════╝*/

 :root{
    /*- COLORI PRIMARIO -*/
    --clr-primary-0: black;
    --clr-primary-1: blue;

    /*- COLORI SECONDARIO -*/
    --clr-secondary-0: white;

    /*- DIMENSIONI GUTTER*/
    --gutter-xs: .25rem;
    --gutter-sm: .5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-xxl: 3rem;

    --border-radius: 1rem;

}

/*╔═══════════════╗
       DEBUG
  ╚═══════════════╝*/
  
  
/*╔═══════════════╗
       COMMON
  ╚═══════════════╝*/
body{
    font-family: 'rotobo', sans-serif;
    color: var(--colore-testo);
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(../img/img2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

/*--- TYPO ---*/

h1{
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

h4{
 text-transform: uppercase;
 font-size: 1rem;
}

/*╔═══════════════╗
    TAG SEMANTICI
  ╚═══════════════╝*/

.wrapper{
  display: none;
}

.ticket{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--gutter-md);
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  border: 1px solid black;
}

.ticket__header{
  text-align: center;
  padding: var(--gutter-md);

}

.ticket__form{
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--gutter-md);
  margin: var(--gutter-sm);
}

.ticket__form>*{
  margin: var(--gutter-md);
  display: flex;
  flex-direction: column;
}

.ticket__form div label{
  margin-bottom: var(--gutter-sm);
}

.btn{
  border: 1px solid black;
  background-color: lightgray;
  padding: var(--gutter-sm) var(--gutter-md);
  font-weight: 600;
  border-radius: var(--gutter-sm);
  
}

.ticket__info{
  padding: var(--gutter-md);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--gutter-md);
  margin: var(--gutter-sm);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr ;
  font-size: .75rem;
  place-items: center;
}

.ticket__info>*{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--gutter-sm);
  text-align: center;
}

.ticket__info div:first-child{
  font-weight: 600 ;
}


